# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines, UTF-8, trailing whitespace trimmed
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# JavaScript / TypeScript / Vue / JSX
[*.{js,mjs,cjs,ts,mts,cts,jsx,tsx,vue}]
indent_style = space
indent_size = 2

# JSON / YAML / Markdown
[*.{json,yaml,yml,md,mdx}]
indent_style = space
indent_size = 2

# HTML / CSS / SCSS
[*.{html,css,scss,sass,less}]
indent_style = space
indent_size = 2

# Python (if any)
[*.py]
indent_style = space
indent_size = 4

# Makefile
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Dotfiles
[{*.toml,.npmrc,.gitignore,.gitattributes}]
indent_style = space
indent_size = 2